[submodule "thirdparty/D3D12MemoryAllocator"]
	path = thirdparty/D3D12MemoryAllocator
	url = git@github.com:HanetakaChou/D3D12MemoryAllocator.git
	branch = master
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = git@github.com:HanetakaChou/Vulkan-Headers.git
	branch = master
[submodule "thirdparty/Vulkan-Loader"]
	path = thirdparty/Vulkan-Loader
	url = git@github.com:HanetakaChou/Vulkan-Loader.git
	branch = master
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = git@github.com:HanetakaChou/VulkanMemoryAllocator.git
	branch = master
[submodule "thirdparty/MoltenVK"]
	path = thirdparty/MoltenVK
	url = git@github.com:HanetakaChou/MoltenVK.git
	branch = master
